$primary: #7ebb3e !default;

$text: $white-ter !default;
$link: $primary !default;
$link-hover: #89d03c !default;
$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
$dark: $grey-dark !default;

$background: $grey-darker !default;
$boxes-background: $grey-dark !default;
$boxes-color: $white !default;

//variables
$input-border-color: $grey-darker !default;
$input-hover-border-color: $grey-darker !default;
$input-focus-border-color: $grey-darker !default;

/* Navigation */
$navbar-background-color: $black-ter !default;
$navbar-background-color-home: rgba($black-ter, .7) !default;

$navbar-item-color: #fff !default;
$navbar-item-hover-color: $navbar-item-color !default;
$navbar-item-hover-background-color: none !default;
$navbar-item-active-color: $navbar-item-color !default;
$navbar-item-active-background-color: none !default;
$navbar-item-img-max-height: none !default;

$navbar-dropdown-background-color: $black-ter !default;
$navbar-dropdown-arrow: $primary !default;
$navbar-dropdown-border-top: none !default;
$navbar-dropdown-boxed-shadow: none !default;

$navbar-dropdown-item-hover-color: $link-hover !default;
$navbar-dropdown-item-hover-background-color: none !default;
$navbar-dropdown-item-active-color: $link-hover !default;
$navbar-dropdown-item-active-background-color: none !default;

$navbar-burger-color: $primary !default;

body {
  @extend .dark-color-scheme;
}

.dark-color-scheme {
  .layout_short .subheadline {
    background: $grey;
    color: $white;
  }

  .logo-light {
    display: block;
  }

  .mod_navigation.navbar .content-image:not(.logo-light) {
    display: none;
  }
}
