::-moz-selection { background: var(--bulma-primary); color: var(--bulma-primary-invert); }
::selection { background: var(--bulma-primary); color: var(--bulma-primary-invert); }

html {
  scroll-behavior: smooth;
}

body {
  font-weight: var(--bulma-font-weight);
  background: var(--bulma-background);
  position: relative;

  strong {
    font-weight: var(--bulma-strong-weight);
  }

  #wrapper {
    font-size: var(--bulma-font-size);
  }
}

body + div {
  display: none !important;
}

#container {
  background: var(--bulma-background);
}

.column-wrapper {
  position: relative;
  background: var(--bulma-background);
}

.has-background-dark, .has-background-black, .has-background-black-bis, .has-background-black-ter, .has-background-grey-darker, .has-background-grey-dark, .has-background-grey {
  .content {
    --bulma-text: var(--bulma-light);
    color: var(--bulma-text);
  }
}

#left, #right {
  padding: 120px 20px;

  .mod_article:not(.article-full-width) .container {
    padding: 0;
  }
}

#main {
  .mod_article {
    overflow: visible;
  }
}

.page-not-found, .unauthorized, .access-denied {
  #main h1 {
    font-size: 12rem;
    margin: 0;
    font-weight: 700;

    + p {
      font-size: 2rem;
    }
  }
}

#wrapper {
  display: block;
}

.has-background-primary {
  --bulma-link: --bulma-primary-invert;
  --bulma-link-text: var(--bulma-link);
  --bulma-link-hover: --bulma-link;
  background-color: var(--bulma-primary) !important;

  a {
    font-weight: 700;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .content {
    --bulma-text: var(--bulma-primary-invert);
    color: var(--bulma-text);
  }

  .ce_ct_priceBox.popular-box .inside, .ce_ct_contentBox.is-primary .inside {
    background: color-mix(in srgb, var(--bulma-primary), black 10%);
  }

  .tabs {
    --bulma-tabs-link-active-border-bottom-color: var(--bulma-primary-invert);
    --bulma-tabs-link-hover-border-bottom-color: var(--bulma-primary-invert);
  }
}
