:root {
  --bulma-primary: #186D3B;
  --bulma-primary-invert: #fff;
  --bulma-primary-bg-text: #186D3B;
  --bulma-link: #186D3B;
  --bulma-link-hover: color-mix(in srgb, var(--bulma-link), black 30%);
}
