$primary: #5ca152 !default;

$text: $black !default;
$link: $primary !default;
$link-hover: #7ebb3e !default;

$background: $white !default;
$boxes-background: $white-ter !default;
$boxes-color: $grey-dark !default;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
