a {
  transition: all .3s;

  &:focus {
    outline: 0;
  }

  i {
    padding-right: 3px;
  }
}

.btn {
  background: #5ca152;
  color: #f5f5f5;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #fff;
  transition: all 0.2s;

  &:hover {
    background: #529049;
  }
}

.button {
  white-space: inherit;
  height: inherit;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;

  &.is-link, &.is-primary {
    &:hover {
      background: $link-hover;
    }
  }
}

.ce_accordion {
  &.block:not(:last-child) {
    margin-bottom: 10px;
  }

  .accordion {
    background: $boxes-background;
    color: $boxes-color;
    padding: 30px;
    margin-top: 10px;

    h1, h2, h3, h4, h5, h6 {
      color: $boxes-color;

      &:first-child {
        margin-top: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    strong {
      color: $boxes-color;
    }
  }

  .ce_image {
    display: flex;
    align-items: center;
    justify-content: center;

    &.block:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .toggler {
    background: $primary;
    color: $white;
    padding: 5px 10px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    font-family: $family-heading;

    &:focus {
      outline: 0;
    }
  }
}

.ce_ct_contentBox {
  &.column.block:not(:last-child) {
    margin-bottom: 0;
  }

  .inside {
    background: $boxes-background;
    padding: 30px 30px 80px;
    height: 100%;

    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    &, h1, h2, h3, h4, h5, h6, a {
      color: $boxes-color;
    }
  }

  &.is-primary {
    .inside {
      background: $primary;

      &, h1, h2, h3, h4, h5, h6, a {
        color: #fff;
      }
    }

    .pageLink a {
      @extend .button;
      @extend .has-text-primary;
    }
  }

  &.is-warning {
    .inside {
      background: $warning;

      &, h1, h2, h3, h4, h5, h6, a {
        color: $dark;
      }
    }

    .pageLink a {
      @extend .button;
      color: $dark;
    }
  }

  &.is-success {
    .inside {
      background: $success;

      &, h1, h2, h3, h4, h5, h6, a {
        color: #fff;
      }
    }

    .pageLink a {
      @extend .button;
      @extend .has-text-success;
    }
  }

  &.is-danger {
    .inside {
      background: $danger;

      &, h1, h2, h3, h4, h5, h6, a {
        color: #fff;
      }
    }

    .pageLink a {
      @extend .button;
      @extend .has-text-danger;
    }
  }

  &.is-info {
    .inside {
      background: $info;

      &, h1, h2, h3, h4, h5, h6, a {
        color: #fff;
      }
    }

    .pageLink a {
      @extend .button;
      @extend .has-text-info;
    }
  }

  &:not(.is-primary):not(.is-warning):not(.is-success):not(.is-danger):not(.is-info) .pageLink a {
    @extend .button;
    @extend .is-primary;
  }

  .pageLink {
    position: absolute;
    bottom: 30px;
  }
}

.ce_ct_featureElement {
  &[class*="has-text-"] {
    .icon i, .inside {
      color: inherit;
    }
  }

  &[class*="has-background-"] {
    .inside {
      background: none;
    }
  }

  &.has-background-white {
    background: none !important;
    .inside { @extend .has-background-white }
  }
  &.has-background-black {
    background: none !important;
    .inside { @extend .has-background-black }
  }
  &.has-background-light {
    background: none !important;
    .inside { @extend .has-background-light }
  }
  &.has-background-dark {
    background: none !important;
    .inside { @extend .has-background-dark }
  }
  &.has-background-primary {
    background: none !important;
    .inside { @extend .has-background-primary }
  }
  &.has-background-link {
    background: none !important;
    .inside { @extend .has-background-link }
  }
  &.has-background-info {
    background: none !important;
    .inside { @extend .has-background-info }
  }
  &.has-background-success {
    background: none !important;
    .inside { @extend .has-background-success }
  }
  &.has-background-warning {
    background: none !important;
    .inside { @extend .has-background-warning }
  }
  &.has-background-danger {
    background: none !important;
    .inside { @extend .has-background-danger }
  }
  &.has-background-black-bis {
    background: none !important;
    .inside { @extend .has-background-black-bis }
  }
  &.has-background-black-ter {
    background: none !important;
    .inside { @extend .has-background-black-ter }
  }
  &.has-background-grey-darker {
    background: none !important;
    .inside { @extend .has-background-grey-darker }
  }
  &.has-background-grey-dark {
    background: none !important;
    .inside { @extend .has-background-grey-dark }
  }
  &.has-background-grey {
    background: none !important;
    .inside { @extend .has-background-grey }
  }
  &.has-background-grey-light {
    background: none !important;
    .inside { @extend .has-background-grey-light }
  }
  &.has-background-grey-lighter {
    background: none  !important;
    .inside { @extend .has-background-grey-lighter }
  }
  &.has-background-white-ter {
    background: none !important;
    .inside { @extend .has-background-white-ter }
  }
  &.has-background-white-bis {
    background: none !important;
    .inside { @extend .has-background-white-bis }
  }

  &.column.block:not(:last-child) {
    margin-bottom: 0;
  }

  .headline {
    font-weight: 400;
    font-size: 20px;
  }

  .feature-text {
    width: calc(100% - 60px);
  }

  .icon {
    width: 60px;
    padding-bottom: 5px;

    i {
      color: $primary;
    }
  }

  .inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: $boxes-background;
    color: $boxes-color;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
  }

  &:not(.nature) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .text p {
    margin: 5px 0;
  }
}

.ce_ct_priceBox {
  &.block:not(:last-child) {
    margin-bottom: 0;
  }

  &.column {
    padding: 0;

    &:first-child {
      margin-left: 0.75rem;
    }

    &:last-child {
      margin-right: 0.75rem;
    }
  }

  .first-link a {
    @extend .button;
    @extend .is-primary;
    font-weight: 400;
    width: 100%;
    padding: 10px;
  }

  .inside {
    background: $boxes-background;
    color: $boxes-color;
    border: 1px solid rgba($boxes-color, .05);
    padding: 50px;
    text-align: center;
    height: 100%;
    border-radius: 5px;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      font-weight: 300;
      margin-bottom: 40px;
      color: $boxes-color;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &:not(.popular-box) .inside {
    margin-top: 50px;
    margin-bottom: 50px;
    height: calc(100% - 100px);
  }

  &.popular-box {
    color: #fff;

    a, h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }

    .first-link a {
      @extend .button;
      color: $boxes-color;
      background: $boxes-background;
      border-color: $boxes-background;

      &:hover {
        background: $background;
        border-color: $background;
        color: $boxes-color;
      }
    }

    .inside {
      background: $primary;
      color: #fff;
    }

    .price {
      background: $boxes-background;
      color: $text;

      .label {
        color: $text;
      }
    }
  }

  .price {
    background: $primary;
    color: #fff;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    .amount {
      padding-top: 40px;
      width: 100%;
      font-size: 30px;
      font-weight: 700;
    }

    .label {
      padding-bottom: 40px;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
    }
  }

  .popular-label {
    background: $link-hover;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  .second-link {
    padding-top: 10px;

    a {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .text {
    padding: 40px 0;
  }
}

#wrapper .ce_ct_priceBox .first-link a {
  padding: 10px;
}

.ce_ct_teaserBox {
  &.block {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &.full-height {
    .content {
      padding: 80px 200px 80px 80px;
    }
  }

  &:not(.full-height) {
    .content {
      margin-left: 50%;
      z-index: 0;
      text-align: center;
      padding: 80px;
    }

    p, strong, h1, h2, h3, h4, h5, h6 {
      color: $boxes-color;
    }

    p {
      font-weight: 300;
    }

    .image_container {
      width: 100%;
      position: absolute;
      top: 0;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: rgba($boxes-background, 0.8);
      }
    }

    .inside {
      height: inherit;
    }
  }

  &.sticky-teaserbox {
    .image_container {
      display: none;
    }
  }

  a {
    color: #4a4a4a;
  }

  .content {
    width: 50%;
    padding: 80px;
    margin-left: 50%;
  }

  figure:not(:last-child) {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;

    a {
      color: $link;

      &:hover {
        color: $link-hover;
      }
    }
  }
  h1 { font-size: calc(1.825rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }
  h2 { font-size: calc(1.625rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }
  h3 { font-size: calc(1.425rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }
  h4 { font-size: calc(1.225rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }
  h5 { font-size: calc(1.1rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }
  h6 { font-size: calc(1rem + (1) * (100vw - 48.0625rem)/ (92 - 48.0625)); }

  .image_container {
    width: 50%;
    background-size: cover;
    height: 100%;
    background-position: center;
    position: absolute;
  }

  .inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: $boxes-background;
    color: $boxes-color;
  }

  .pageLink a {
    @extend .button;
    @extend .is-primary;
  }

  strong {
    color: $boxes-color;
  }
}

.ce_gallery {
  .cols_2 li {
    width: calc(100% / 2);
  }
  .cols_3 li {
    width: calc(100% / 3);
  }
  .cols_4 li {
    width: calc(100% / 4);
  }
  .cols_5 li {
    width: calc(100% / 5);
  }
  .cols_6 li {
    width: calc(100% / 6);
  }
  .cols_7 li {
    width: calc(100% / 7);
  }
  .cols_8 li {
    width: calc(100% / 8);
  }
  .cols_9 li {
    width: calc(100% / 9);
  }
  .cols_10 li {
    width: calc(100% / 10);
  }
  .cols_11 li {
    width: calc(100% / 11);
  }
  .cols_12 li {
    width: calc(100% / 12);
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    vertical-align: bottom;
  }

  > ul {
    &.cols_1, &.cols_2, &.cols_3, &.cols_4, &.cols_5, &.cols_6, &.cols_7, &.cols_8, &.cols_9, &.cols_10, &.cols_11, &.cols_12 {
      margin-left: -5px;
      margin-right: -5px;

      li {
        padding: 5px;
        margin: 0;
      }
    }
  }
}

.content .ce_gallery ul {
  list-style: none;
}

.ce_image figure {
  margin-left: 0;
  margin-right: 0;
}

.center {
  text-align: center;
}

.ce_sliderStart:not(.full-width-height-slider) {
  background: $boxes-background;
  color: $boxes-color;
  border-radius: 5px;

  .ce_text {
    &.block:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .slider-control {
    height: inherit;

    .slider-menu {
      position: relative;

      b {
        font-size: 3rem;
        color: rgba($boxes-color, .5);
        padding: 5px;

        &.active {
          color: $boxes-color;
        }
      }
    }
  }

  .slider-prev, .slider-next {
    text-indent: -9999999px;
    display: block;
    top: 20px;

    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      text-indent: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .slider-prev {
    margin-left: 30px;

    &:before {
      content: "\f053";
    }
  }

  .slider-next {
    margin-right: 30px;

    &:before {
      content: "\f054";
    }
  }

  .slider-wrapper {
    > div {
      padding: 30px;
    }

    figure + {
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      color: $boxes-color;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  strong {
    color: $boxes-color;
  }
}

.ce_textModalElement {
  &.block:not(:last-child) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  .inside {
    h2, h3, h4, h5, h6 {
      margin: 0;
      font-size: 16px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.5);
      padding: 10px;
      color: #fff;
      text-align: center;
    }
  }

  .modal-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;

    &:hover ~ .teaser {
      display: flex;
    }
  }

  ~ .modal {
    padding: 0 15px;

    .modal-content {
      background: $boxes-background;
      color: $text;
      padding: 30px;
      max-width: 900px;
      width: 100%;
    }
  }

  .teaser {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 30px 40px;
    background: rgba(0,0,0,.3);
    text-align: center;

    p {
      color: #fff;
      font-size: 16px;
    }
  }
}

.columns {
  flex-wrap: wrap;
  display: flex;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 30px;
    color: $text;

    strong {
      font-weight: 700;
    }
  }
  h2, h3, h4, h5, h6 {
    margin-top: 40px;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
    text-align: left;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  table {
    thead th {
      color: $table-head-cell-color;
    }

    tbody th {
      color: $table-color;
    }
  }
}

.ce_download, .ce_downloads {
  .download-element a {
    font-weight: 300;

    &:before {
      content: "\f56d";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      padding-right: 10px;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
  }
}

.empty {
  padding: 0 0.75rem;
}

.full-width-height-slider {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: $white;

  a {
    color: #4a4a4a;

    &.readmore {
      @extend .button;
      @extend .is-primary;
    }
  }

  .ce_ct_sliderElement {
    background-size: cover;
    min-height: 100vh;
    background-position: center;

    &.block:not(:last-child) {
      margin-bottom: 0;
    }

    > .image_container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 0;
    }
  }

  &.parallax-slider .content-slider {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
  h3 {
    font-size: 2.8rem;
    line-height: 3.1rem;
  }
  h4 {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
  h5 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  h6 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .dark-image {
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.25);
      content: "";
    }
  }

  .light-image {
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.25);
      content: "";
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6, p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }

  p, strong, a {
    color: $dark;
  }

  .slider-control {
    position: static;
    height: inherit;

    .slider-menu {
      bottom: 0;
      top: inherit;

      b {
        font-size: 4rem;
        color: rgba($white,.8);
        padding: 5px;

        &.active {
          color: rgba($primary,.8);
        }
      }
    }

    .slider-prev, .slider-next {
      display: none;
    }
  }

  .slider-wrapper {
    display: flex;
  }

  .text {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    transition: all .05s;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .image_container {
      -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      transform: rotate(5deg);
      width: 350px;
      text-align: right;
    }

    img {
      vertical-align: bottom;
      border: 10px solid #fff;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }

    .inside {
      width: 600px;
      padding-right: 50px;
    }
  }

  .video_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .white-text {
    a {
      color: $white;
    }

    strong {
      color: $white;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-heading;
}

.has-text-white {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $white;
  }
}
.has-text-black {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $black;
  }
}
.has-text-light {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $light;
  }
}
.has-text-dark {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $dark;
  }
}
.has-text-primary {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $primary;
  }
}
.has-text-info {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $info;
  }
}
.has-text-link {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $link;
  }
}
.has-text-success {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $success;
  }
}
.has-text-warning {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $warning;
  }
}
.has-text-danger {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $danger;
  }
}
.has-text-black-bis {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $black-bis;
  }
}
.has-text-black-ter {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $black-ter;
  }
}
.has-text-grey-darker {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $grey-darker;
  }
}
.has-text-grey-dark {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $grey-dark;
  }
}
.has-text-grey {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $grey;
  }
}
.has-text-grey-light {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $grey-light;
  }
}
.has-text-grey-lighter {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $grey-lighter;
  }
}
.has-text-white-ter {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $white-ter;
  }
}
.has-text-white-bis {
  h1, h2, h3, h4, h5, h6, strong, a {
    color: $white-bis;
  }
}

.has-text-centered {
  &.ce_gallery ul {
    text-align: center;
    display: inline-block;
  }

  .image_container {
    text-align: center;
  }
}

.ce_text {
  &.hero:not(.is-primary):not(.is-link):not(.is-info):not(.is-success):not(.is-warning):not(.is-danger) {
    background: $boxes-background;
    color: $boxes-color;

    h1, h2, h3, h4, h5, h6, a, strong {
      color: $boxes-color;
    }
  }
}

.hero {
  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  strong {
    color: inherit;
  }
}

div.icon {
  width: 100%;
  height: inherit;
  flex-wrap: wrap;
  justify-content: flex-start;

  h1, h2, h3, h4, h5, h6, p {
    width: 100%;
  }
}

.image img {
  width: inherit;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  width: 100%;

  &.has-text-right {
    justify-content: flex-end;
  }

  &.has-text-center {
    justify-content: center;
  }
}

.large-text {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

#main .ce_ct_teaserBox.full-height .inside {
  min-height: 100vh;
}

p {
  margin: 15px 0;
}

pre {
  background: $boxes-background;
  color: $boxes-color;
}

.sticky-container {
  position: relative;

  .sticky-column {
    position: absolute;
    width: 50%;
    height: 100%;
    padding-top: 0;
    content: "";
    left: 0;
    top: 0;

    .sticky-column-background {
      background: center center/cover no-repeat;
      background-image: inherit;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 10;

      @for $i from 1 through 20 {
        &:nth-of-type(#{$i}) {
          z-index: #{$i};
        }
      }
    }
  }
}

strong {
  color: $text;
}

.tab-content {
  display: none;
  padding-top: 80px;
  padding-bottom: 80px;

  &.is-active {
    display: block;
  }

  .ce_image.column {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .ce_text.column {
    padding: 0 80px;
  }

  h2:first-child {
    margin-top: 0;
  }
}

.ce_table, .ce_text {
  &.block {
    overflow: auto;
  }
}

.tabs {
  a {
    font-size: 22px;
    border-width: 4px;
    border-color: transparent;

    &:hover {
      border-width: 4px;
      color: $tabs-link-hover-color;
    }
  }

  li.is-active a {
    border-width: 4px;
  }

  ul {
    margin-left: 0;
  }
}

.tab-content {
  .block:not(:last-child) {
    margin-bottom: 0;
  }

  &.block:not(:last-child) {
    margin-bottom: 0;
  }
}

.video-detach-button {
  display: none;
}

.ce_video, .ce_youtube {
  .video_container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.white-text {
  h1, h2, h3, h4, h5, h6, p {
    color: #f5f5f5;
  }
}
