.footer {
  padding: 0;
  overflow: hidden;
  position: relative;
  font-size: 1rem;

  a {
    font-weight: 700;
    color: $footer-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .block:not(:last-child) {
    margin: 0;
  }

  .ce_text.block {
    overflow: hidden;
  }

  .column {
    padding-top: 0;
  }

  .columns {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > div {
    padding: $footer-padding;
  }

  .footer-content {
    background: $footer-background-color;
    color: $footer-color;
    padding: $footer-padding;

    .column:nth-of-type(1) {
      border-right: 1px solid rgba(255,255,255,.3);
    }

    p a {
      padding-right: 20px;
    }

    a {
      color: $footer-color;
    }

    .mod_customnav strong {
      color: $footer-color;
      text-decoration: underline;
      font-weight: 700;
    }

    strong {
      color: $footer-color;
      font-weight: 700;
    }
  }

  .footer-copyright {
    background: $footer-copyright-background-color;
    color: $footer-copyright-color;
    padding: $footer-copyright-padding;

    p {
      margin-top: 0;
    }

    a {
      color: $footer-copyright-color;
    }

    .mod_customnav strong {
      color: $footer-copyright-color;
      text-decoration: underline;
    }

    strong {
      color: $footer-copyright-color;
      font-weight: 700;
    }
  }

  .is-vertical-center {
    width: inherit;
  }

  .mod_customnav {
    li {
      display: inline-block;
      padding-right: 15px;
    }

    ul {
      margin-left: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.ce_toplink {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  a {
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-indent: -99999px;
    background: rgba($link, .7);
    width: 50px;
    height: 50px;
    border-radius: 100%;

    &:after {
      content: "\f077";
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      text-indent: 0;
      color: $white;
      left: 0;
      top: 0;
      font-size: 1.5rem;
      position: absolute;
      width: 100%;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: rgba($link-hover, .7);
      text-decoration: none;
    }
  }
}
