.mod_navigation.navbar .ce_image {
  margin-bottom: 0;
}

.logo-light {
  display: none;
}

.header-image {
  height: 460px;
  position: relative;
  transition: all .1s ease 0s;

  &.dark-image .image_container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    content: "";
  }

  &.light-image .image_container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.25);
    content: "";
  }

  .hero-body {
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .image_container {
    left: 0;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    height: 560px;
  }

  &.large-headerimage {
    height: 660px;

    .image_container {
      height: 760px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 60px;
  }
}

#header {
  .back {
    display: none;
  }

  .mod_article:not(.article-full-width) .container {
    padding: 0;
  }

  .mod_article.block:not(:last-child) {
    margin-bottom: 0;
  }
}

.home .navbar {
  background: $navbar-background-color-home;
}

.menu-list a.is-active.trail {
  background: none;
  color: $menu-item-color;

  &:hover {
    color: $menu-item-hover-color;
    background: $menu-item-hover-background-color;
  }
}

.menu {
  margin-top: 1em;

  a {
    font-weight: 500;
  }

  .level_2 > li > a:not(.active) {
    color: rgba($menu-item-color, .4);
  }

  ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
  }

  ul ul, ul ul ul {
    list-style: none;
    margin: 0.75em;
  }
}

.mod_navigation.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;

  a {
    &.trail, &.active {
      color: $navbar-item-active-color;
      background: $navbar-item-active-background-color;
    }
  }

  &.block {
    overflow: visible;
  }

  .container {
    max-width: 100%;
  }

  figure {
    margin: 0;
  }

  .level_3 .has-dropdown:hover .level_4 {
    display: block !important;
    border-radius: 6px;
  }

  .has-dropdown .has-dropdown {
    &:hover .level_3 {
      display: block !important;
    }

    .level_3, .level_4 {
      position: absolute;
      top: -0.5rem;
      left: -100%;
      width: 100%;
      border-bottom-right-radius: 0;
      border-top-left-radius: 6px;
    }
  }

  .navbar-dropdown {
    min-width: 200px;

    &.open {
      display: block !important;
    }

    a {
      font-weight: 300;

      &.trail, &.active {
        color: $navbar-dropdown-item-active-color;
        background: $navbar-dropdown-item-active-background-color;
      }

      &:hover {
        color: $navbar-dropdown-item-hover-color;
      }

      &.navbar-item span {
        white-space: normal;
      }
    }
  }

  .level_3, .level_4 {
    display: none !important;
  }

  .mod_article:not(.article-full-width) {
    padding: 0;
  }

  .navbar-brand {
    padding-left: 40px;
  }

  .navbar-burger {
    width: 40px;
    height: 40px;

    &:hover {
      background: none;
    }

    span {
      height: 6px;
      width: 40px;
      left: 0;

      &:nth-child(1) {
        top: calc(50% - 13px);
      }

      &:nth-child(3) {
        top: calc(50% + 11px);
      }
    }

    &.is-active span {
      &:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }
    }
  }

  .navbar-dropdown div.navbar-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-link {
      padding: 0.3rem 3rem 0.3rem 1rem;
      width: 100%;
    }
  }

  .navbar-item img {
    width: auto;
  }

  a.navbar-item, a.navbar-link {
    &:focus {
      outline: 0;
    }
  }

  .navbar-start {
    > a.navbar-item {
      padding: 0.5rem 1.6rem 0.5rem 0.75rem;
    }
  }

  a.navbar-item {
    span {
      border-bottom: 2px solid transparent;
    }

    &:hover span {
      border-bottom: 2px solid $navbar-item-hover-color;
    }

    &.active, &.trail {
      span {
        border-bottom: 2px solid $navbar-item-active-color;
      }
    }
  }

  .navbar-link {
    border-bottom: 2px solid transparent;

    &:not(.is-arrowless) {
      padding-right: 2em;

      &:after {
        right: 1em;
      }
    }
  }

  .navbar-dropdown a.navbar-item span {
    border: none;
  }

  .navbar-menu.is-active {
    .level_3 {
      display: block !important;

      .navbar-item {
        padding-left: 2.5rem;
      }
    }

    .navbar-dropdown {
      display: none;

      &.active {
        display: block;
      }

      &.level_3 {
        display: none !important;

        &.active {
          display: block !important;
          position: relative;
          left: 0;
          border-radius: 0;
        }
      }
    }

    .navbar-dropdown div.navbar-item .navbar-link {
      padding-left: 1.5rem;
    }

    .navbar-link:not(.is-arrowless)::after {
      display: none;
    }

    .navbar-start {
      padding: 15px;
    }

    .toggle-less, .toggle-more {
      &.active {
        display: flex;
      }

      float: right;
      font-size: 28px;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      align-items: center;
      padding: 0 0.75rem;

      i {
        color: $primary;
      }
    }
  }

  .navbar-start {
    justify-content: flex-end;
    width: 100%;
    padding: 30px 70px 30px 40px;
    align-items: center;

    > .navbar-item > a, > a {
      font-weight: 700;
      font-size: 18px;
    }
  }

  .navbar-item.is-mega {
    position: static;

    .is-mega-menu-title {
      margin-bottom: 0;
      padding: .375rem 1rem;
    }

    .navbar-dropdown {
      min-width: 100%;
    }
  }

  .toggle-less, .toggle-more {
    display: none;
  }
}

@media screen and (min-width: $navbar-breakpoint) {
  .navbar-dropdown {
    background: $navbar-dropdown-background-color;

    &.level_3 {
      background: $navbar-dropdown-lvl3-background-color;
    }

    &.level_4 {
      background: $navbar-dropdown-lvl4-background-color;
    }
  }
}
