@media (max-width: 1215px) {

  .ce_ct_teaserBox.full-height .content {
    padding: 80px;
  }

  .layout_latest, .layout_short {
    h2 {
      font-size: 1.5em;
    }
  }

}

@media (max-width: 1023px) {

  .ce_ct_teaserBox .content {
    padding: 50px;
  }

  .full-width-height-slider .text {
    position: relative;
    padding: 120px 20px 50px;

    .image_container {
      width: 100%;
      text-align: center;
      padding: 50px 0 30px;
    }

    .inside {
      width: 70%;
      padding-right: 0;
    }
  }

  #main .mod_article:not(.article-full-width) {
    padding: 40px 0;
  }

  .mod_breadcrumb .breadcrumb {
    padding: 0;
  }

  .mod_navigation.navbar .navbar-brand {
    padding-left: 10px;
    align-items: center;
    padding-right: 20px;
    height: 100%;
  }

  .navbar-menu {
    padding-top: 120px;
    margin-top: -105px;
    padding-bottom: 20px;
  }

  #wrapper {
    #container {
      padding-left: 0;
      padding-right: 0;
    }

    #left, #right {
      width: 100%;
      margin: 0;
      right: 0;
      left: 0;
      padding: 0 20px 20px;

      .navbar-menu {
        display: block;
      }
    }
  }

}

@media (min-width: 769px) and (max-width: 1250px) {
  .mod_calendar .days.active {
    &.col_last .events {
      right: 0;
      margin: 0;
      left: inherit;
    }

    &.col_first .events {
      left: 0;
      margin: 0;
    }
  }
}

@media (max-width: 993px) {

  .contact-box {
    .contact-data {
      padding: 35px 20px;
    }

    .contact-form {
      padding: 30px;
    }
  }

}

@media (max-width: 768px) {

  .ce_ct_priceBox {
    &.column {
      &, &:first-child, &:last-child {
        margin: 0;
        padding: 0.75rem;
      }
    }

    &:not(.popular-box) .inside {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ce_ct_teaserBox {
    .content {
      width: 100%;
      margin-left: 0;
      padding: 25px;
    }

    &.full-height .content {
      padding: 40px 25px;
    }

    .image_container {
      width: 100%;
      position: relative;
      height: 250px;
    }

    &:not(.full-height) {
      .content {
        margin-left: 0;
        padding: 250px 25px 25px;
      }

      .image_container {
        height: 100%;
        top: inherit;

        &:after {
          width: 100%;
          height: calc(100% - 210px);
          bottom: 0;
          top: inherit;
        }
      }
    }

    &.sticky-teaserbox .image_container {
      display: block;
    }
  }

  .ce_ct_teaserBox, .full-width-height-slider {
    h1 {
      font-size: 2.2rem;
      line-height: 2.5rem;
    }
    h2 {
      font-size: 2rem;
      line-height: 2.3rem;
    }
    h3 {
      font-size: 1.8rem;
      line-height: 2.0rem;
    }
    h4 {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
    h5 {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    h6 {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  .ce_sliderStart:not(.full-width-height-slider) {
    .float_right, .float_left {
      float: left;
      margin: 0 0 20px !important;
      width: 100%;
    }
  }

  .contact-box {
    margin-top: -100px;
  }

  .contact .header-image {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 50px;
    }
  }

  .content .pagination-list {
    justify-content: flex-start;
    text-align: left;

    li {
      flex-grow: inherit;
    }
  }

  .full-width-height-slider {
    .text .inside {
      width: 100%;
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    &.parallax-slider .content-slider {
      position: relative;
    }

    .text .container {
      display: block;
    }
  }

  .footer {
    .footer-content a {
      display: inline-block;
    }

    .has-text-right {
      justify-content: flex-start;

      ul {
        margin-left: -15px;
        text-align: left;
      }
    }

    .header-image {
      height: 200px;

      .image_container {
        height: 300px;
      }

      &.large-headerimage {
        height: 200px;

        .image_container {
          height: 300px;
        }
      }
    }
  }

  .full-width-height-slider .text .image_container {
    padding: 50px 10px 30px;
  }

  .header-image {
    height: 260px;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 80px;
      padding: 0 15px;
    }

    .image_container {
      height: 360px;
    }

    &.large-headerimage {
      height: 360px;

      .image_container {
        height: 460px;
      }
    }
  }

  input[type="checkbox"], input[type="radio"] {
    margin-left: 2px;
  }

  .large-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .layout_simple a, .layout_upcoming a {
    display: block;
    padding: 0;
    margin-bottom: 15px;
  }

  .layout_list .inside {
    padding: 20px;
  }

  .layout_teaser, .layout_list {
    h3 {
      font-size: 1.2em;
    }
  }

  #main {
    .ce_ct_teaserBox .inside {
      min-height: 100%;
    }

    .navbar-menu {
      display: block;
    }
  }

  .mod_calendar table {
    &.calendar {
      border: none;
      background: none;

      .days.active .events {
        display: block;
        position: relative;
        background: none;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;

        a {
          color: #333;
          text-align: center;
        }
      }

      tbody, tr, thead {
        display: block;
      }

      th, td.active {
        display: block;
        margin: 5px 0;
        background: #f2f2f2;
      }

      thead tr:nth-of-type(2), td:not(.active) {
        display: none;
      }
    }
  }

  .mod_subscribe.newsletter-primary {
    .formbody {
      display: block;
    }

    .submit, .input {
      width: 300px;
      max-width: 100%;
    }

    .submit {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .modal-card {
    padding: 0 20px;
  }

  .page-not-found, .unauthorized, .access-denied {
    #main h1 {
      font-size: 5rem;

      + p {
        font-size: 1.2rem;
      }
    }
  }

  .sticky-container .sticky-column {
    display: none;
  }

  .tab-content {
    padding: 0;

    .ce_text.column {
      padding: 15px;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .tabs ul {
    display: block;

    li:not(.last) {
      border-bottom-color: #dbdbdb;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }

  #wrapper .ce_gallery > ul {
    &.cols_5, &.cols_6, &.cols_7, &.cols_8, &.cols_9, &.cols_10, &.cols_11, &.cols_12 {
      li {
        width: calc(100% / 4);
      }
    }

    li.col_first {
      clear: none;
    }
  }

}

@media (max-width: 450px) {

  .mod_calendar table.minicalendar {
    width: 100%;

    th, td, td.active a {
      padding: 5px;
    }
  }

}
